<p id="notice"><%= notice %></p>

<h1>Listing Todo Items</h1>

<div class="row" id="list-of-todos">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Due date</th>
          <th>Complete</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @todo_items.each do |todo_item| %>
          <tr>
            <td><%= todo_item.name %></td>
            <td><%= todo_item.description %></td>
            <td><%= todo_item.priority %></td>
            <td><%= time_ago_in_words(todo_item.due_date)%></td>
            <td><%= todo_item.complete %></td>
            <td><%= link_to 'Show', todo_item %></td>
            <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
            <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> <!-- /#list-of-todos -->
<br>

<%= link_to 'New Todo item', new_todo_item_path %>
